/* Header.module.css */

.header-container {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 1rem 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header-logo {
  font-size: 1.5rem;
  color: blue;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

button {
  background-color: blue;
  color: #ffffff;
  border: none;
  padding: 0.5rem 1rem;
  margin-left: 4rem;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

button:hover {
  background-color: blue;
  transform: scale(1.05);
}

button:focus {
  outline: none;
}

.search-container {
  display: flex;
  align-items: center;
  position: relative;
}

.search-input {
  flex: 1;
  margin-left: 4rem;
  padding: 0.5rem 1rem;
  border: 2px solid blue;
  border-radius: 25px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  transition: width 0.3s;
}

.search-container input:first-child {
  border-radius: 25px 0 0 25px;
}

.search-container input:last-child {
  border-radius: 0 25px 25px 0;
  margin-left: -1px; 
}

.search-input:focus {
  width: 300px;
  outline: none;
}