













@tailwind base;
@tailwind components;
@tailwind utilities;







*               {       box-sizing: border-box;

                        margin: 0;

                        padding: 0;                   }


body            {       height: 100vh;
                        max-height: 100vh;

                        position: absolute;     

                        background: rgb(236, 175, 7);      }









